[defaults]
roles_path            = common_roles:roles
ansible_managed       = This file is managed by Ansible. Changes will be overwritten. Generated on %Y-%m-%d %H:%M:%S
vault_password_file   = .vault_pass

[inventory]

[privilege_escalation]
become_method   = sudo
become_user     = root
become_ask_pass = False

[ssh_connection]
ssh_args = -o StrictHostKeyChecking=no -o ProxyCommand="aws ssm start-session --target %h --document-name AWS-StartSSHSession --parameters portNumber=%p"
